{% extends 'base.html' %}
{% block title %} {{ book.title }} {% endblock %}
{% block navbar %}
  <nav class="navbar navbar-expand-sm bg-secondary text-white">
       <ul class="navbar-nav">
            <li class="nav-item">
<a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
<a class='nav-link' href="{% url 'upload' %}">Upload</a>
            </li>
<li class="nav-item">
    <a class='nav-link' href="{% url 'plot-freq' id=book.id %}">Show plot</a>
</li>
</ul>
  </nav>
{% endblock %}
{% block content %}
<h2>Stats of <i>{{ book.title }}</i> by {{ book.author }}</h2>
<ul>
    <li>Total number of words: {{ word_count }}</li>
    <li>Number of different words: {{ different_words }}</li>
    <li>Number of sentences: {{ sentence_count }}</li>
</ul>
<h3>Three longest sentences:</h3>
<ol>
  <li>The longest sentence of {{ items.2.1 }} words:
  <p>
      <i>{{ items.2.0 }}</i>
  </p>
  </li>
    <li>The second longest sentence of {{ items.1.1 }} words:
  <p>
      <i>{{ items.1.0 }}</i>
  </p>
  </li>
    <li>The third longest sentence of {{ items.0.1 }} words:
  <p>
      <i>{{ items.0.0 }}</i>
  </p>
  </li>
</ol>

<h3>Random sentence</h3>
<p>
    <i>{{ rand_sent }}</i>
</p>
<form method="get" action="#">
    {% csrf_token %}
  <button type="submit">Pick again</button>
</form>


{% endblock %}
