{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block content %}
<h3>The list of books available in the library:</h3>
<form action="#" method="POST">
    {% csrf_token %}
<ul class="list-group" >
{% for book in books %}
    <li class="list-group-item bg-info">
        <input type="checkbox" name="books" value="{{ book.id }}">
        <a class="text-white" href="{% url 'book' id=book.id %}">{{ book.title }}</a>
       </li>
    {% endfor %}
</ul>
   <button type="submit" class="btn ml-3 mt-2">Compare selected</button>
</form>
{% endblock %}
