{% extends 'base.html' %}
{% block title %} Upload file {% endblock %}

{% block content %}
 <form method="post" enctype="multipart/form-data">
     {% csrf_token %}
     <container class="form-control mt-2 bg-info text-light">
     {% if form.book.errors %}
     {% for error in form.book.errors %}
         <strong class="text-danger">{{ error|escape }}</strong>
     {% endfor %}
     {% endif %}
            <p><h3>Title</h3> {{ form.title }}</p>
            <p><h3>Author</h3> {{ form.author }}</p>
            <p>{{ form.book }} </p>
            <button type="submit" class="btn" >Upload</button>
        </container>

  </form>

{% endblock %}
